.c1rse527[class][class]{font-size:var(--hr-k-udr);line-height:var(--dpgw-ac);-webkit-letter-spacing:0.02em;-moz-letter-spacing:0.02em;-ms-letter-spacing:0.02em;letter-spacing:0.02em;color:var(--fo-jk-r-s);}
.lv0dgul[class][class] > ol{display:inline;}
.lr0v7q8[class][class]{white-space:nowrap;}

.i9chubn[class][class]{vertical-align:middle;}

.dir-ltr.i9chubn[class][class]{margin-left:var(--fgg-f-l-a);}

.dir-rtl.i9chubn[class][class]{margin-right:var(--fgg-f-l-a);}
