.bmx2gr4[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.bmx2gr4[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.bmx2gr4[class][class]:disabled{opacity:0.3;}

.dir.bmx2gr4[class][class]:disabled{cursor:not-allowed;}

.c1ih3c6[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);outline:none;-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;-webkit-tap-highlight-color:transparent;color:var(--f-mkcy-f);contain:paint;}

.dir.c1ih3c6[class][class]{border-radius:var(--go-h-jh-l);border-width:1px;border-style:solid;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;transition:box-shadow 0.2s ease,transform 0.1s ease;border:none;background:var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c1ih3c6[class][class]{transition:none;}}

.c1ih3c6[class][class]:focus-visible{outline:none;}

.dir.c1ih3c6[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1ih3c6[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1ih3c6[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1ih3c6[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1ih3c6[class][class]:focus-visible{transition:none;}}

.c1ih3c6[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1ih3c6[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1ih3c6[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1ih3c6[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1ih3c6[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1ih3c6[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1ih3c6[class][class]:active{transform:scale(0.96);}

.c1ih3c6[class][class]:disabled{opacity:1;}

@media (hover:hover){
.c1ih3c6[class][class]:hover{color:var(--f-mkcy-f);}

.dir.c1ih3c6[class][class]:hover{border:none;background:var(--bgxgx);}

.c1ih3c6[class][class]:hover:disabled{color:var(--f-mkcy-f);}

.dir.c1ih3c6[class][class]:hover:disabled{border:none;background:var(--j-qkgmf);}}

.c1ih3c6[class][class]:active{color:var(--f-mkcy-f);}

.dir.c1ih3c6[class][class]:active{border:none;background:var(--bgxgx);}

.c1ih3c6[class][class]:disabled{color:var(--f-mkcy-f);}

.dir.c1ih3c6[class][class]:disabled{border:none;background:var(--j-qkgmf);}

.f1hzc007[class][class]{width:100%;}

.s1b90jqc[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s1b90jqc[class][class]:not(:focus){border:0;padding:0;}
.b1luh1ah[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b1luh1ah[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b1luh1ah[class][class]:disabled{opacity:0.3;}

.dir.b1luh1ah[class][class]:disabled{cursor:not-allowed;}

.c1j7xk73[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);outline:none;-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;-webkit-tap-highlight-color:transparent;color:var(--f-mkcy-f);}

.dir.c1j7xk73[class][class]{border-radius:var(--go-h-jh-l);border-width:1px;border-style:solid;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;transition:box-shadow 0.2s ease,transform 0.1s ease;border:none;background:var(--dc-gy-f-v);}

@media (prefers-reduced-motion:reduce){
.dir.c1j7xk73[class][class]{transition:none;}}

.c1j7xk73[class][class]:focus-visible{outline:none;}

.dir.c1j7xk73[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1j7xk73[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1j7xk73[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1j7xk73[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1j7xk73[class][class]:focus-visible{transition:none;}}

.c1j7xk73[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1j7xk73[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1j7xk73[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1j7xk73[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1j7xk73[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1j7xk73[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1j7xk73[class][class]:active{transform:scale(0.96);}

.c1j7xk73[class][class]:disabled{opacity:1;}

.c1j7xk73[class][class]:hover{color:var(--f-mkcy-f);}

.dir.c1j7xk73[class][class]:hover{border:none;background:var(--dc-gy-f-v);}

.c1j7xk73[class][class]:active{color:var(--f-mkcy-f);}

.dir.c1j7xk73[class][class]:active{border:none;background:var(--ihf-tp-q);}

.c1j7xk73[class][class]:disabled{color:var(--f-mkcy-f);}

.dir.c1j7xk73[class][class]:disabled{border:none;background:var(--iw-ihca);}

@supports (--custom:properties){
.dir.c1j7xk73[class][class]{background:var(--dls19-brand-gradient,var(--dc-gy-f-v));}

.dir.c1j7xk73[class][class]:hover{background:var(--dls19-brand-gradient,var(--dc-gy-f-v));}

.dir.c1j7xk73[class][class]:active{background:var(--dls19-brand-gradient-accent,var(--ihf-tp-q));}

.dir.c1j7xk73[class][class]:disabled{background:var(--iw-ihca);}}

.fnxe19d[class][class]{width:100%;}

.sy8w9ys[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.sy8w9ys[class][class]:not(:focus){border:0;padding:0;}
.c4wd1yj[class][class]{display:block;position:relative;pointer-events:none;}

.tjxdvlu[class][class]{position:absolute;top:0;bottom:0;width:100%;height:100%;overflow:hidden;-webkit-mask-image:-webkit-radial-gradient(white,black);mask-image:-webkit-radial-gradient(white,black);}

.dir.tjxdvlu[class][class]{left:0;right:0;border-radius:var(--go-h-jh-l);}

.t12u7nq4[class][class]{display:block;width:100%;height:100%;min-width:200px;opacity:0;background-image:linear-gradient(to right,black 0%,white 50%,black 100%);}

.dir.t12u7nq4[class][class]{background-size:200% 200%;transition:opacity 1.25s;background-image:var(--d-e-vybb);}

.t12u7nq4[class][class]:hover{opacity:1;}

.t12u7nq4[class][class]:active{-webkit-transition:-webkit-transform 2s,opacity 2s;opacity:0;}

.dir.t12u7nq4[class][class]:active{transition:transform 2s,opacity 2s;transform:scale(5);}

.dir.t12u7nq4[class][class]:disabled{background-image:none;}

@supports (--custom:properties){
.dir.t12u7nq4[class][class]{background-image:var( --dls19-brand-gradient-radial,var(--d-e-vybb) );}}
