.dir.f1uqpd6v[class][class]{animation-name:fade-in-f1uqpd6v;animation-duration:800ms;animation-fill-mode:both;animation-delay:0ms;}

@keyframes fade-in-f1uqpd6v{
from{opacity:0;}

to{opacity:1;}}

.cse59kz[class][class]{position:relative;z-index:1;}

.dir.cse59kz[class][class]{background:white;}

.dir.ifh27uy[class][class]{background:transparent;}

.c1c7mjgh[class][class]::after{content:'';display:block;position:absolute;top:0;bottom:0;z-index:-1;}

.dir.c1c7mjgh[class][class]::after{left:0;right:0;box-shadow:rgb(0 0 0 / 16%) 0 0 6px;transition:box-shadow 0.2s ease;}

.dir.ic59xv9[class][class]{padding:14px 24px 0 24px;}

.f1jfwncj[class][class]{min-height:50px;-webkit-transition:opacity 0.2s,height 0.2s,-webkit-transform 0.3s;}

.dir.f1jfwncj[class][class]{padding-bottom:16px;padding-top:16px;transition:opacity 0.2s,height 0.2s,transform 0.3s;}

.dir-ltr.f1jfwncj[class][class]{padding-left:20px;}

.dir-rtl.f1jfwncj[class][class]{padding-right:20px;}

@media (prefers-reduced-motion:reduce){
.dir.f1jfwncj[class][class]{transition:'none';}}

.h1bsj8yx[class][class]{height:4px;opacity:0;}

.dir.h1bsj8yx[class][class]{transform:translateY(-40px);transition:height 0.3s;}
.c1z10d5o[class][class]{align-items:stretch;color:var(--f-k-smk-x);display:flex;min-height:56px;min-width:285px;}

.dir.c1z10d5o[class][class]{background:var(---pc-g-v-g);border-radius:1000px;}

.dir.e97awm[class][class]{background:var(--f-mkcy-f);border:0.5px solid rgba(0,0,0,0.08);box-shadow:0 3px 10px rgba(0,0,0,0.1);transform:translate3d(0,0,0);}

.l938ssy[class][class]{align-items:center;display:flex;min-width:100px;width:100%;}

.rid06me[class][class]{display:flex;}

.dir-ltr.l1upghlx[class][class]{padding:0 var(--jaa-ni-h) 0 20px;}

.dir-rtl.l1upghlx[class][class]{padding:0 20px 0 var(--jaa-ni-h);}

.lk2soub[class][class]{display:flex;height:100%;}

.c1icnbzi[class][class]{display:flex;flex-direction:column;width:100%;}

.dir-ltr.c1icnbzi[class][class]{padding-left:2px;}

.dir-rtl.c1icnbzi[class][class]{padding-right:2px;}

.p10pln4b[class][class]{font-size:14px;font-weight:600;line-height:20px;}

.sqqb46g[class][class]{color:var(--fo-jk-r-s);display:flex;font-size:12px;line-height:16px;}

.i1b4e8cr[class][class]{display:flex;min-width:50px;}

.dir.s1f5fdzj[class][class]{padding:0 5px;}

.dir-ltr.b13th1u8[class][class]{padding:0 var(--jaa-ni-h) 0 20px;}

.dir-rtl.b13th1u8[class][class]{padding:0 20px 0 var(--jaa-ni-h);}

.b13th1u8[class][class].dir-rtl[class][class]{transform:rotate(-180deg);}

.f1py6ptz[class][class]{align-items:center;box-sizing:border-box;display:flex;height:36px;justify-content:center;width:36px;}

.dir.f1py6ptz[class][class]{border:1px solid var(--j-qkgmf);border-radius:25px;margin:0 10px;}

.dir.fekvny6[class][class]{border:2px solid var(--f-k-smk-x);}

.frx8gk9[class][class]{display:flex;min-width:0;}
.czst4s7[class][class]{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
