.c4rika6[class][class]{display:flex;flex-direction:column;align-items:center;gap:var(--h-x-sf-jw);}

.dir.c4rika6[class][class]{margin-left:var(--ikx-k-pe);margin-right:var(--ikx-k-pe);margin-top:var(--kksqe-v);margin-bottom:var(--ikx-k-pe);}

.hwmf48m[class][class]{-webkit-tap-highlight-color:transparent;}

.t1bffexg[class][class]{flex-grow:1;display:flex;justify-content:center;}

.dir.t1j5lltf[class][class]{padding-top:calc((var(--j-p-z-kco) - var(--c-zdwk-p)) / 2);padding-bottom:calc((var(--j-p-z-kco) - var(--c-zdwk-p)) / 2);}

.tkhpkkt[class][class]{font-size:var(--c-zdwk-p);font-weight:var(--jx-zk-pv);white-space:pre-line;line-height:var(--j-p-z-kco);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}

.dir.tkhpkkt[class][class]{text-align:center;}

@supports (overflow:clip){
.tkhpkkt[class][class]{overflow:clip;}}

@media (max-device-height:700px){
.t1ff5rrp[class][class]{display:none;}}

.sbegmrq[class][class]{line-height:var(--f-l-h-bac);}

.s1mfvqv6[class][class]{display:none;}
.dir.i19lxnbl[class][class]{-webkit-margin-start:var(--h-x-sf-jw);margin-inline-start:var(--h-x-sf-jw);}

.i19lxnbl[class][class] > svg{display:inline-block !important;vertical-align:middle;}

.dir.i19lxnbl[class][class] > svg{margin-bottom:2px;}

.txyby0l[class][class]{color:var(--fo-jk-r-s);font-size:var(--f-cv-j-j-p);line-height:var(--f-l-h-bac);}

.h15vapy1[class][class]{display:none;}

@media (min-width:744px){
.h15vapy1[class][class]{display:revert;}}

@media (min-width:744px){
.s2tq6tj[class][class]{display:none;}}

.s1i66a4o[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;display:inline;}

.dir.s1i66a4o[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;}

.dir.s1i66a4o[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.s1i66a4o[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}
